{% comment %} videos/templates/videos/video_edit_modal_content.html {% endcomment %}
<div class="modal-header">
    <h5 class="modal-title">한국 영상 편집</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="videoEditForm" method="post" action="{% url 'videos:edit_korean_video' pk=video_id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-body">
        {{ form.as_p }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </div>
</form>